/packages/RavenDB.Client.3.0.3667-Unstable/RavenDB.Client.3.0.3667-Unstable.nupkg
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Abstractions.dll
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Abstractions.pdb
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Abstractions.xml
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Client.Lightweight.XML
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Client.Lightweight.dll
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Client.Lightweight.pdb
/packages/repositories.config

/GoToChicagoPresentation.sln.ide/edb.chk
/GoToChicagoPresentation.sln.ide/edb.log
/GoToChicagoPresentation.sln.ide/edbres00001.jrs
/GoToChicagoPresentation.sln.ide/edbres00002.jrs
/GoToChicagoPresentation.sln.ide/storage.ide
/GoToChicagoPresentation.v14.suo
/GoToChicagoPresentation/bin/Release/GoToChicagoPresentation.exe
/GoToChicagoPresentation/bin/Release/GoToChicagoPresentation.exe.config
/GoToChicagoPresentation/bin/Release/GoToChicagoPresentation.pdb
/GoToChicagoPresentation/bin/Release/GoToChicagoPresentation.vshost.exe
/GoToChicagoPresentation/bin/Release/GoToChicagoPresentation.vshost.exe.config
/GoToChicagoPresentation/bin/Release/GoToChicagoPresentation.vshost.exe.manifest
/GoToChicagoPresentation/bin/Release/Raven.Abstractions.dll
/GoToChicagoPresentation/bin/Release/Raven.Abstractions.pdb
/GoToChicagoPresentation/bin/Release/Raven.Abstractions.xml
/GoToChicagoPresentation/bin/Release/Raven.Client.Lightweight.dll
/GoToChicagoPresentation/bin/Release/Raven.Client.Lightweight.pdb
/GoToChicagoPresentation/bin/Release/Raven.Client.Lightweight.xml
/GoToChicagoPresentation/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/GoToChicagoPresentation/obj/Release/GoToChicagoPresentation.csproj.FileListAbsolute.txt
/GoToChicagoPresentation/obj/Release/GoToChicagoPresentation.exe
/GoToChicagoPresentation/obj/Release/GoToChicagoPresentation.pdb
/GoToChicagoPresentation/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GoToChicagoPresentation/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GoToChicagoPresentation/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
