/packages/RavenDB.Client.3.0.3667-Unstable/RavenDB.Client.3.0.3667-Unstable.nupkg
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Abstractions.dll
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Abstractions.pdb
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Abstractions.xml
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Client.Lightweight.XML
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Client.Lightweight.dll
/packages/RavenDB.Client.3.0.3667-Unstable/lib/net45/Raven.Client.Lightweight.pdb
/packages/repositories.config
